<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header" style="text-align: center">
                <img src="../../../../assets/marvelIcoBlack.png" alt="" height="100" width="100">
                <br>
                Account Register
            </div>
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" [(ngModel)]="sign_Up.name" placeholder="Name">
                    </div>
                    <div class="form-group">
                            <input type="text" class="form-control" name="idDocument" [(ngModel)]="sign_Up.idDocument" placeholder="Id Document">
                        </div>                    
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" [(ngModel)]="sign_Up.email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" [(ngModel)]="sign_Up.password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" (click)="signUp()">
                            SignUp
                        </button>
                    </div>                                                                                   
                </form>
            </div>
        </div>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>      
