  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: black">
    <div class="container">
      <a class="navbar-brand" routerLink="/" style="font-family:'Courier New', Courier, monospace; font-weight: bold; font-size:25px;">MARVEL<img src="./assets/marvelIcoBlack.png" width="60" height="60">COMICS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"  style="font-size:20px; font-family:'Courier New', Courier, monospace">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signIn" routerLinkActive="active">| Sign In |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signUp" routerLinkActive="active"> Sign Up |</a>
          </li>              
        </ul>
      </div>    
    </div>
  </nav>
